/build
/compile_commands.json
.cache
/.vscode/launch.json
/.vscode/_current_mode.txt
/.vscode/_settings.src
/test/**/*.dll
/test/**/*.json
!/test/**/desc.json
/test/**/*.pyd
/test/**/*.so
parallel-hashmap/
pybind11/
