/build
/compile_commands.json
.cache
/.vscode/launch.json
/.vscode/_current_mode.txt
/.vscode/_settings.src
/test/**/*.dll
/test/**/*.json
/test/**/*.pyd
/test/**/*.so
/test/**/bin
/test/**/obj
parallel-hashmap/
pybind11/
