/build*
/compile_commands.json
.cache
/.vscode/launch.json
/.vscode/_current_mode.txt
/.vscode/_settings.src
/test/**/*.dll
/test/**/*.json
/test/**/*.pyd
/test/**/*.so
/test/**/bin
/test/**/obj
parallel-hashmap/
pybind11/
/examples/cxx.txt
/examples/c/output
/examples/csharp/c_library
/examples/csharp/csharp_library/src
/examples/csharp/csharp_library/bin
/examples/csharp/csharp_library/obj
/examples/csharp/example_consumer/bin
/examples/csharp/example_consumer/obj
/examples/python/pybind11
/examples/python/output
